@import url("https://fonts.googleapis.com/css2?family=McLaren&family=Open+Sans:wght@300;400&display=swap");

/*-------------------------------------General*/
:root {
  --dark-bg: #3c3843;
  --win: #27b927;
  --lose: #ee5252;
  --highlight-elements: #ede56e;
  --light: #fafdf6;
  --titles: "McLaren", cursive;
  --text-normal: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

body {
  max-width: 2000px;
  font-family: var(--text-normal);
  font-size: 16px;
  background-color: var(--dark-bg);
  color: var(--light);
}

/*----------------------Header*/
header {
  width: 100vw;
}

.navigation {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em 1em 1em;
}

#logo {
  display: none;
}

#title {
  font-family: var(--titles);
}

#help {
  background-color: var(--dark-bg);
  width: 25px;
  height: 25px;
  border-radius: 20px;
  border: 2px solid var(--highlight-elements);
  transition: transform 1s;
}

.fa-question {
  font-size: 1rem;
  color: var(--highlight-elements);
  transition: transform 1s;
}

#help:hover {
  box-shadow: 0 0 10px 5px var(--highlight-elements);
  transform: scale(1.2);
  border: none;
}

.fa-question:hover {
  transform: scale(1.2);
}
